.car-details-section {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 45% 25% 30%;
  padding: 3rem 2rem;
  place-content: center;
}

.details-img img {
  width: 100%;
  border-radius: 5px;
  filter: drop-shadow(0 0 0.75rem var(--dark-gray));
  border-radius: 10px;
}

.details-info {
  padding: 0 1rem;
}

.details-buttons {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.delete {
  background-color: var(--orange) !important;
}

.details-header button {
  margin-left: auto;
  height: 70%;
}

.details-footer {
  display: flex;
  margin-top: 3rem;
}

@media only screen and (min-width: 900px) {
  .car-details-section {
    flex-direction: row;
  }
}

.label {
  display: flex;
  flex-direction: column;
}