.cars-section {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 3.5rem 1rem;
}

.cars-title {
  width: 40%;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: end;
  padding-right: 2rem;
  margin-top: 3%;
}

.cars-title h1 {
  align-self: center;
  letter-spacing: 10px;
  color: black;
}

.p1 {
  align-self: center;
  color: var(--dark-gray);
}

.p2 {
  align-self: center;
  color: var(--light-gray);
}

.car-card {
  padding: 1.5rem;
}
