.login {
  margin-top: 2rem;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1.75em 1.5em;
}

.form-input {
  padding: 0.5em 1em;
  height: 2.5em;
  background-color: var(--white);
  border: 1px solid var(--dark-gray);
  border-radius: 5em;
  color: var(--dark-gray);
}

.form-input:focus {
  border: 4px solid var(--orange);
}

.form-button {
  height: 2.5em;
}
